*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background: linear-gradient(
        to bottom,
        #fdfffd,
        #0d6efd
    );

    min-height: 100vh;
}
.header{
    position: fixed;
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
    padding: 20px 80px;
    background: rgba(255,255,255,0.9);
    margin-top: 0%;

    
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px; 
}
.logo img {
  width: 30px; 
  height: auto;
}
.logo h1{
    font-family: 'Lobster Two', cursive;

    color: #1e40af;

    font-size: 30px;

    letter-spacing: 2px;

    transition: 0.3s;
}

.menu{
    display: flex;
    gap: 50px;
}
.menu a{
    text-decoration: none;
    color: #333;
    font-weight: 700;
    transition: 0.3s;

}
.menu a:hover{
    color: #0d6efd;

}
.header-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: white;
}


.acciones-header {
  display: flex;
  gap: 15px; 
}

/* Botón de Pánico */
.boton-panico {
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;

}

.boton-panico:hover {
  transform: scale(1.05);
}

/* Botón de Inicio de Sesión */
.boton-login {
  background-color: #1e40af;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.boton-login:hover {
  transform: scale(1.05);

}
/*Contactanos*/
.contacto {
  max-width: 800px;
  margin: 0px auto;
  background: white;
  padding: 50px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  padding-top: 140px;
}

.contacto h2 {
  text-align: center;
  color: #2c3e50;
  font-size: 28px;
  margin-bottom: 10px;
}

.contacto p {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
  font-size: 15px;
}

.info-contacto {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.info-box {
  flex: 1 1 200px;
  text-align: center;
  margin: 10px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 10px;
  background: #f1f2f5;
  transition: transform 0.3s ease;
}

.info-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.info-box strong {
  display: block;
  color: #2c3e50;
  margin-bottom: 5px;
}

.form-contacto {
  display: grid;
  gap: 20px;
}

.form-contacto label {
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 5px;
  display: block;
}

.form-contacto input,
.form-contacto textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #bdbaba;
  border-radius: 10px;
  font-size: 14px;
  transition: border 0.3s ease;
  background: #fff;
}

.form-contacto input:focus,
.form-contacto textarea:focus {
  border-color: #3498db;
  outline: none;
}

.form-contacto button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.form-contacto button:hover {
  background-color: #217dbb;
}

.mensaje-exito {
  display: none;
  text-align: center;
  color: #27ae60;
  margin-top: 20px;
  font-weight: bold;
}
/*FOOTER*/
.footer{
    background: #0d1b3e;
    color: white;

    padding-top: 50px;

    border-radius: 40px 40px 0 0;
}

/* Contenedor */

.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 40px;

    padding: 0 80px 40px;
}

/* Info */

.footer-info{
    max-width: 350px;
}

.footer-info h2{
    margin-bottom: 15px;
    color: #4f9cff;
}

.footer-info p{
    line-height: 1.7;
    color: #d1d9f0;
}

/* Links */

.footer-links{
    display: flex;
    flex-direction: column;
}

.footer-links h3{
    margin-bottom: 15px;
}

.footer-links a{
    text-decoration: none;
    color: #d1d9f0;

    margin-bottom: 10px;

    transition: 0.3s;
}

.footer-links a:hover{
    color: white;
    transform: translateX(5px);
}

/* Contacto */

.footer-contact h3{
    margin-bottom: 15px;
}

.footer-contact p{
    margin-bottom: 10px;
    color: #d1d9f0;
}

/*  Parte Final */

.footer-bottom{
    text-align: center;

    border-top: 1px solid rgba(255,255,255,0.1);

    padding: 20px;
}
